.light-theme {
    --bg-card: white;
    --border-color: hsl(236, 33%, 92%);
    --gray-1: hsl(0, 0%, 98%);
    --gray-2: hsl(236, 33%, 92%);
    --gray-3: hsl(233, 11%, 84%);
    --gray-4: hsl(236, 9%, 61%);
    --gray-5: hsl(235, 19%, 35%);
    --shadow: 0px 13px 30px -17px rgba(191, 191, 191, 1);
    --bg: url('./images/bg-mobile-light.jpg');
}

.dark-theme {
    --border-color: hsl(233, 14%, 35%);
    --gray-5: hsl(0, 0%, 98%);
    --gray-4: hsl(234, 11%, 52%);
    --bg-card: hsl(235, 24%, 19%);
    --gray-2: hsl(233, 14%, 35%);
    --gray-1: hsl(235, 21%, 11%);
    --shadow: 0px;
    --bg: url('./images/bg-mobile-dark.jpg');
}

* {
    transition: background-color 0.6s ease, color 0.2s ease, height 0.5s ease, display 1s ease;
}

body {
    --primary: hsl(220, 98%, 61%);

    line-height: 1;
    background-color: var(--gray-1);
}

.container {
    margin: 0 30px 0 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.bg {
    width: 100%;
    height: 130px;
    position: absolute;
    z-index: -99;
    background-image: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
}

.attribution {
    color: var(--gray-4);
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;
}

.header {
    margin-bottom: 20px;
}

.header .header-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 40px;
}

.header .header-title h1 {
    font-size: 26px;
    color: white;
    font-weight: 500;
    letter-spacing: 14px;
}

.header .header-title .theme-btn {
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.header .input-container {
    background-color: var(--bg-card);
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.header .input-container .todo-input {
    background-color: var(--bg-card);
    color: var(--gray-5);
    width: 80%;
    margin-left: 10px;
    border: 0;
    font-family: inherit;
    font-size: 10;
}

.header .input-container input::placeholder {
    color: var(--gray-5);
}

.header .input-container input:focus {
    outline: none;
}

.circle {
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.content {
    background-color: var(--bg-card);
    border-radius: 5px;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.content .todo-container .todo-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid var(--border-color);
    align-items: center;
}

.content .todo-container .todo-item.completed .left .circle {
    border: none;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.content .todo-container .todo-item.completed .left p {
    text-decoration: line-through;
    color: var(--gray-2);
}

.content .todo-container .todo-item .left .circle:hover {
    cursor: pointer;
}


.content .todo-container .todo-item .left {
    display: flex;
    align-items: center;
}

.content .todo-container .todo-item .left p {
    font-size: 12px;
    margin-left: 10px;
    color: var(--gray-5);
    cursor: pointer;
}

.content .todo-container .todo-item img {
    cursor: pointer;
}

.content .footer {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    color: var(--gray-4);
    padding: 20px 20px 20px 20px;
}

.content .footer a {
    text-decoration: none;
    color: var(--gray-4);
}

.content .footer .filter {
    display: none;
}

.content .footer .filter a {
    margin: 0 5px 0 5px;
}

.filter a.active {
    color: var(--primary);
}

.footer-mobile {
    display: flex;
    padding: 20px 20px 20px 20px;
    justify-content: center;
    background-color: var(--bg-card);
    border-radius: 5px;
    margin-top: 20px;
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.footer-mobile a {
    margin: 0 5px 0 5px;
    text-decoration: none;
    font-weight: 500;
    color: var(--gray-4);
    font-size: 14px;
}

@media only screen and (min-width: 640px) {
    .light-theme {
        --bg: url('./images/bg-desktop-light.jpg');
    }

    .dark-theme {
        --bg: url('./images/bg-desktop-dark.jpg');
    }

    .bg {
        height: 240px;
    }

    .footer-mobile {
        display: none;
    }

    .content .footer .filter {
        display: flex;
    }

    .container {
        margin: 0 20% 0 20%;
        padding-top: 60px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .container {
        margin: 0 30% 0 30%;
        ;
    }
}